# Node/build outputs
node_modules/
build/
dist/
.env

# iZEBOT file outputs
*.bsp

# Logs
logs
*.log

# Coverage & test output
coverage
.nyc_output

# TypeScript cache
*.tsbuildinfo

# OS/editor files
.DS_Store
.vscode/
.github/